# Enable debug flask server
DEBUG=True
# Listen address. Set to 0.0.0.0 for all interfaces
LISTEN_ADDR="0.0.0.0"
# Listen port
LISTEN_PORT=8080
# Channel used for volume control (see output of amixer)
AMIXER_CHANNEL="Master"
# Flask secret encryption key. Do not leave blank
SECRET_KEY=""
# Path to your sqlite database. Will be created on first run
DATABASE_PATH = "jukebox.sqlite3"
# Your YouTube API Key. Needed for YouTube searches
YOUTUBE_KEY=""
# Enabled search backends
SEARCH_BACKENDS=[
  "youtube"
]
# Name of the app
JK_NAME="Jukebox Ultra NRV MkIII"
