

.btn-remove, .btn-add, .btn-back, .btn-more, .btn-up, .btn-down, .btn-refresh {
    position: relative;
    top: 2px;
}

#search_results .btn-remove, #search_results .track-user, #suggestions .btn-remove {
    display: none;
}

#playlist-playing, #playlist-queue {
    list-style-type: none;
    margin: 10px;
    padding: 0;
	text-align: center;
	color: grey;
	letter-spacing: 10px;
	margin-top: 13px;

}

.albumart {
    object-fit: cover;
        display: block;
        max-width: 280px;
        max-height: 140px;
	    width: 100%;
        height: auto;
}

.track-title {
	display: block;
    font-size: x-large;
}
.track-artist {
	display: block;
}

.track-url {
    display: block;
}

.track-album {
    display: block;
}

.centered {
	margin: auto
}

.track-duration,.track-user,.track-source {
	color: #aaa;
}


iframe#YT {
    width: 100%;
}

.icon{ /*Les icones de selection de chansons*/
    background-image: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    background-size: 20px;
    padding-left: 20px;
    width: 20px;
    height: 20px;
	cursor: pointer;
    margin: 6px;
    display: block;
}

.icon.btn-back {
    background-image: url("/static/images/icons/arrow-alt-circle-left-solid.svg");
}
.icon.btn-more {
    background-image: url("/static/images/icons/ellipsis-h-solid.svg");
}
.icon.btn-up{
    background-image: url("/static/images/icons/chevron-up-solid.svg");
}
.icon.btn-down{
    background-image: url("/static/images/icons/chevron-down-solid.svg");
}
.icon.btn-remove{
    background-image: url("/static/images/icons/x.svg");
}
.icon.btn-add{
    background-image: url("/static/images/icons/plus-square-regular.svg");
}
.icon.btn-refresh {
    background-image: url("/static/images/icons/sync-solid.svg");
}