<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom/') }}{{ stylesheet }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{ jk_name }}</title>
    </head>

    <body>

        <div class="container-fluid"><div class="row">
                <div class="col-xl-8">
                    <h1 class="display-3">{{ jk_name }}</h1>
                    <div class="clearfix">
                        <ul class="nav">
                            <li class="nav-item">
                                <p class="nav-link"><a href="/settings">Settings</a></p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">
                                <a href="/help">Help</a>
                                </p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"><a href="/logout">Logout from {{ user }}</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="query" id="query" type="text" placeholder="Recherchez un morceau ou collez une url"
                                                                                                        spellcheck="false" dir="ltr" style="text-align: left; direction: ltr;" autocomplete="off"
                                                                                                                                                                               aria-expanded="false" autofocus/>
                    </div>
                    <div class="form-group form-inline">
                        <img src="/static/images/icons/volume.svg" class="icon">
                        <input type="range" class="volume-slider form-control" id="volume-slider" min="0" max="100">
                    </div>
                    <ul class="list-group" id="search_results"></ul>
                    <ul class="list-group" id="playlist"></ul>
                </div>
                <div class="col-xl-4">
                    <div id="YT"></div>
                    <div class="clearfix">
                        <p class="display-4 float-left">Suggestions</p>
                        <p class="float-right lead py-4">
                        <a href="#" id="refresh-suggestions">Rafraîchir</a>
                        <a href="#" id="toggle-YT">Afficher/Masquer la vidéo</a>
                        </p>
                    </div>
                    <ul class="list-group" id="suggestions"></ul>
                </div>
            </div></div>


	    <script src="{{ url_for('static',filename='scripts/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ url_for('static',filename='scripts/jquery.loadTemplate.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
	    <script src="{{ url_for('static',filename='scripts/popper.min.js') }}"></script>
	    <script src="{{ url_for('static',filename='scripts/bootstrap.min.js') }}"></script>
    </body>
</html>
