<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{{ jk_name }} | Aide</title>
    </head>

    <body>
        <h1 class="display-3">{{ jk_name }} | Aide</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/app">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <p>
            Le code source est disponible <a href="https://github.com/matthias4217/jukebox-ultra-nrv">ici</a>.
            </p>
            <p>
            Les modules chargés sont
            <ul>
                {% for m in modules %}
                <li>
                    {{ m }}
                </li>
                {% endfor %}
            </ul>
            <p>
            Pour utiliser la recherche, Youtube, entrez simplement
            les termes de votre recherche, puis appuyez sur la
            touche "Entré".
            Pour lire des titres en provenance de Bandcamp ou
            Soundcloud, il n'existe pas de moteur de recherche
            pour le moment.
            Vous devez donc aller chercher le lien de la chanson
            de votre choix directement sur ces sites.
            </p>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.loadTemplate.min.js') }}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
