<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom/') }}{{ stylesheet }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{ jk_name }}</title>
    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8">
                    <h1 class="display-3">{{ jk_name }}</h1>
                    <div class="clearfix">
                        <ul class="nav">
                            <li class="nav-item">
                                <p class="nav-link">
                                <a href="/app">Accueil</a>
                                </p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">
                                <a href="/statistics">Statistics</a>
                                </p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">
                                <a href="/settings">Settings</a>
                                </p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">
                                <a href="/help">Help</a>
                                </p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"><a href="/logout">Logout from {{ user }}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% block content %} {% endblock %}
        </div>

        <script src="{{ url_for('static',filename='scripts/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.loadTemplate.min.js') }}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/bootstrap.min.js') }}"></script>
    </body>
</html>
