{% extends "page_template.html" %}

{% block content %}
<div class="container">
    <div class="statistics">
        <div class="col statcol">
        <h2>Users with most play counts :</h2>
            <div class="statdisplay">
                <h3>All time</h3>
                {{ table_users_count_all|safe }}
            </div>
            <div class="statdisplay">
                <h3>Last seven days</h3>
                {{ table_users_count_week|safe }}
            </div>
            <div class="statdisplay">
                <h3>Last 24 hours</h3>
                {{ table_users_count_day|safe }}
            </div>
        </div>
        <div class="col statcol">
        <h2>Tracks with most play counts :</h2>
            <div class="statdisplay">
                <h3>All time</h3>
                {{ table_tracks_count_all|safe }}
            </div>
            <div class="statdisplay">
                <h3>Last seven days</h3>
                {{ table_tracks_count_week|safe }}
            </div>
            <div class="statdisplay">
                <h3>Last 24 hours</h3>
                {{ table_tracks_count_day|safe }}
            </div>

        </div>
    </div>
</div>
{% endblock %}