<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleGlobal.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.min.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/styleGlobal.css    ">


    <title>Page Accueil</title>
</head>
<body>



<div class="listMusique" id="playlistEnCours">
</div>

<header>
    <div class="formRecherche">
    <form id="formRecherche">
        <input name="q" id="inputRecherche" type="text" placeholder="Recherchez un morceau"
                spellcheck="false" dir="ltr" style="text-align: left; direction: ltr;" autocomplete="off"
                aria-expanded="false"/>
        <div class="list_result" id="search_results">
        </div>
    </form>
    </div>
    <div class="login">
        {% if user == None %}
        Coucou {{ mac }} <a href="/auth">j'aimerais bien savoir ton p'tit nom :o</a>
        {% else %}
        Coucou {{ user }} :) tu as la mac {{ mac }}
        {% endif %}
    </div>
</header>

<script>
	update_search = function() {
		$.get("/sync", function (data) {
			console.log(data);
			$('#playlistEnCours').html("");
			for (i in data.playlist) {
				if (i == 0) {$('#playlistEnCours').append(
					'<div class="ItemMusique now_playing">' +
					'<div class="imageAlbum">' +
					'<img src="' + data.playlist[i].albumart_url + '"/>' +
					'</div>' +
					'<div class="infosMusique">' +
					'<h1>' + data.playlist[i].title + '</h1>' +
					'<h2>' + data.playlist[i].artist + " - " + data.playlist[i].album + '</h2>' +
					'</div>' +
					'</div>'
				);}
				else { $('#playlistEnCours').append(
					'<div class="ItemMusique">' +
					'<div class="imageAlbum">' +
					'<img src="' + data.playlist[i].albumart_url + '"/>' +
					'</div>' +
					'<div class="infosMusique">' +
					'<h2>' + data.playlist[i].artist + " - " + data.playlist[i].album + '</h2>' +
					'</div>' +
					'</div>'
				);}
			}
		});
		window.setTimeout(arguments.callee, 5000);
	}();

	$('#inputRecherche').keyup(function() {
		$.get("/search/"+$(this).val(), function(data) {
			$("#search_results").html("")
			console.log(data);
			for (i in data) {
				$("#search_results").append(
                    "<div class='ItemMusique' data-track='"+JSON.stringify(data[i])+"'>" +
                    '<div class="imageAlbum">' +
                    '<img src="' + data[i].albumart_url + '"/>' +
                    '</div>' +
                    '<div class="infosMusique">' +
                    '<h3>' + data[i].title + '</h3>' +
                    '<h4>' + data[i].artist + '</h4>' +
                    '</div>' +
                    '</div>'
				);
				$('#search_results > div:last').click(function() {
					$.post("/add", $(this).data("track"));
					$('#search_results').hide();
				});
            }
		}, dataType="json");
	});
	$('#inputRecherche').focus(function () {
		$('#search_results').show();
	});
	$('#playlistEnCours').click(function () {
		$('#search_results').hide();
	});
</script>

</body>
</html>