<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleGlobal.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/styleGlobal.css    ">


    <title>Page Accueil</title>
</head>
<body>

<header>
    <form class="formRecherche" action="/search" method="get">
        <input name="q" id="imputRecherche" type="text" placeholder="Recherchez un morceau"
                spellcheck="false" dir="ltr" style="text-align: left; direction: ltr;"
                aria-expanded="false"/>
        <span class="iconeRecherche">
            <button tabindex="-1" class="boutonChercher" type="submit">
                🔍
            </button>
        </span>
    </form>
</header>

<div class="listMusique">
    <div id="Lecture_en_cours" class="ItemMusique">
        <div class="imageAlbum">
            <img src="https://upload.wikimedia.org/wikipedia/en/4/4b/Therion_fleurs_2.jpg"/>
        </div>
        <div class="infosMusique">
            <h1>Titre Musique</h1>
            <h2>Artiste/Album</h2>

            <div class="ProgressBarCV">
                <div class="ContainerStandard ContenuProgressBarCV" style="width:45%"></div>
            </div>
            <p>1:34 / 4:35</p>
        </div>
    </div>


    <div class="ItemMusique">
        <div class="imageAlbum">
            <img src="https://upload.wikimedia.org/wikipedia/en/4/4b/Therion_fleurs_2.jpg"/>
        </div>
        <div class="infosMusique">
            <h1>Titre Musique</h1>
            <h2>Artiste/Album</h2>
        </div>
    </div>


    <div class="ItemMusique">
        <div class="imageAlbum">
            <img src="https://upload.wikimedia.org/wikipedia/en/4/4b/Therion_fleurs_2.jpg"/>
        </div>
        <div class="infosMusique">
            <h1>Titre Musique</h1>
            <h2>Artiste/Album</h2>
        </div>
    </div>

</div>

</body>
</html>