.icon {
    height: 20px;
    display: block;
}

#search_results .btn-skip, #search_results .track-user{
    display: none;
}
#search_results li {
	cursor: pointer;
}

.albumart {
	width: 100%
}

.track-title {
	display: block;
    font-size: x-large;
}
.track-artist {
	display: block;
}

.btn-remove {
	cursor:pointer
}
.centered {
	margin: auto
}
.track-duration,.track-user {
	color: #aaa;
}