html{
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
*,*:before,*:after{box-sizing:inherit}

body {
    background-color:#222222;
    font-size:15px;
    line-height:1.5;
    margin: 0;
}

hr {
    box-sizing: content-box;
    height:0;
    overflow: visible;
    border:0;
    border-top: 1px solid #eee;
    margin:20px 0;
}


@media (min-width:719px){


}

