html{
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
*,*:before,*:after{box-sizing:inherit}

body {
    background-color:#222222;
    font-size:15px;
    line-height:1.5;
    margin: 0;
    font-family:Arial;
}

/*
    Utile pour la page de connexion
 */
.carteConnexion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius:6px;
    padding: 15px;
    background-color:#fff!important;
    width: 900px;
    display:table;
    clear:both;
}

.formConnexion{
    float:left;
    width:50%;
    padding: 5px;
    transform: translateY(40%);
}

.formInscription{
    float:left;
    width:50%;
    padding: 5px;
}

.formulaire{
    margin: auto;
    width: 700px;
    display:table;
    clear:both;
}

hr {
    box-sizing: content-box;
    height:0;
    overflow: visible;
    border:0;
    border-top: 1px solid #DDDDDD;
    margin:20px 0;
}


/*
    Utile pour la page d'accueil
 */
header{
    background-color: #A00000;
    width: 100%;
    position: absolute;
    top:0;
    padding: 7px 0;
}

.formRecherche{
    height: 33px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    text-align: right;
}

#imputRecherche{
    color: #14171a;
    text-shadow: none;
    opacity:1;
    background-color: white;
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #e6ecf0;
    border-radius: 21px;
    display: block;
    transition: all.2s ease-in-out;
    outline: 0;
}

.list_result{
    width: 400px;
    margin-top: 9px;
    border-radius: 4px;
    box-sizing: border-box;
    right:auto;
    left:0;
    position: absolute;
    top:100%;
    float: left;
    background: #eee;
    background-clip: padding-box;
    z-index: 90;
    max-height: 400px;
    overflow: auto;
    padding: 0 4px;
}

.iconeRecherche{
    position: absolute;
    top:3px;
    right: 3px;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
}

.listMusique{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin:auto;
    width: 900px;
}

#lecture_en_cours{
    height: auto!important;
}

.ItemMusique{
    background-color:#fff!important;
    color:#757575!important;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom:8px;
    margin-top: 8px;
    border-radius:6px;
    display:table;
    clear:both;
    width: 100%;
}

.ItemMusique > div{
    padding: 15px;
}

#Lecture_en_cours .imageAlbum{
    float:left;
    width:35%;
}

#Lecture_en_cours .infosMusique{
    float:left;
    width:65%;
}

.itemDeRecherche .imageAlbum{
    float:left;
    width:30%;
}

.itemDeRecherche .infosMusique{
    float:left;
    width:70%;
    font-size: small;
}

.imageAlbum{
    float:left;
    width:20%;
}
.infosMusique{
    float:left;
    width:80%;
    text-align: left;
}

.imageAlbum > img{
    width: 100%;
}


.ProgressBarCV{
    background-color:#f1f1f1!important;
    height: 4px;
    padding: 0;
}

.ContenuProgressBarCV{
    width:auto;
    height: 4px;
    background-color:#A00000!important;
}

.ContainerStandard:after,.ContainerStandard:before{
    content:"";
    display:table;
    clear:both
}



@media (min-width:719px){
    .formRecherche{
        position: relative;
        left:50%;
        transform: translateX(-50%);
        height: 33px;
        margin: 0;
        font-size: 12px;
        width: 400px;
        text-align: right;
    }

    #imputRecherche{
        color: #14171a;
        text-shadow: none;
        opacity:1;
        background-color: white;
        width: 100%;
        height: 32px;
        padding: 5px 27px 6px 12px;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border:1px solid #e6ecf0;
        border-radius: 21px;

        display: block;
        transition: all.2s ease-in-out;
        outline: 0;
    }

    .list_result{
        width: 400px;
        margin-top: 9px;
        border-radius: 4px;
        box-sizing: border-box;
        right:auto;
        left:0;
        position: absolute;
        top:100%;
        float: left;
        background: #eee;
        background-clip: padding-box;
        z-index: 90;
        max-height: 400px;
        overflow: auto;
        padding: 0 4px;
    }

    .iconeRecherche{
        position: absolute;
        top:3px;
        right: 3px;
        display: block;
        width: 26px;
        height: 26px;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
    }

    .listMusique{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin:auto;
        width: 900px;
    }

    #lecture_en_cours{
        height: auto!important;
    }

    .ItemMusique{
        background-color:#fff!important;
        color:#757575!important;
        box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        margin-bottom:8px;
        margin-top: 8px;
        border-radius:6px;
        display:table;
        clear:both;
        width: 100%;
    }

}